h1{
  font-family: sans-serif;
  font-weight: bold;
  padding: 10px;
  color: white;
}
a{
  text-decoration: none;
  color: white;
}
select{
  width: 100%;
}
.topHTMLTable{
  width: 100%;
}
.setDates p{
  font-family: sans-serif;
  font-weight: bold;
  padding: 10px;
  color: white;
  text-align: center;
}

.tablePautas td{
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 13;

}
.spotsRadioDia td{
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 13;

}
.tablePautas{
  width: 90%;
  position: relative;
  font-family: sans-serif;
  padding: 10px;
  text-align: center;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 2px;
  align-items: center;
  margin: auto;
}
.spotsRadioDia{
  width: 90%;
  position: relative;
  font-family: sans-serif;
  padding: 10px;
  text-align: center;
  background: rgba(200, 200, 200, 0.8 );
  border-radius: 2px;
  align-items: center;
  margin: auto;
}
.tablePautas a{
  font-family: sans-serif;
  color: black;
}
.tablePautasHeaders td,.spotsRadioDiaHeaders td{
  margin: 0 auto;
  border-bottom:2px solid rgba(25,25,25);
  background-color: none;
  transition:0.2s ease;
}
.tablePautasHeaders td:hover{
    background-color: rgba(204,204,204);
    transition:0.2s ease;
    cursor: pointer;
}
.fechasHeader,.fechasHeader:hover{
  cursor:auto !important;
  background-color: none !important;
}
.completeDayTable td{
  border-bottom:1px solid grey;

}
.completeDay {
  border-left: 1px solid grey;
  border-right:1px solid grey;
  align: center;
}
.calendar{
  display: block;
  overflow-x: auto;
  width: 30vw;
}
.month{
  border-left: 1px solid grey;
  border-right:1px solid grey;
  text-align: center;
  min-width: 100px;
}
.monthTd{
  border-bottom:1px solid grey;
}
.completeDay{
  transition:0.2s ease;
  background-color: none;
  text-align: center;
  /* border: 1px solid black; */

}
.completeDay:hover{
    background-color: rgba(204,204,204);
    transition:0.2s ease;
    cursor: pointer;
}
.day{
  min-width: 28px;
  min-height: 28px;
  text-align: center;
}
.numSpots{
  text-align: center;
}

input[type=button], input[type=submit]{
  background-color: grey;
  border: none;
  color: white;
  padding: 10px 15px;
  text-decoration: none;
  cursor: pointer;
  border-radius: 2px;

}

input[type=date]{
 padding: 10px;
 border-radius: 3px;
 border-color: grey;
}
/* Pautas Modals */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.modal input[type=button]{
  position: relative;
  bottom:   -25%;
  transition:0.2s ease;

}
.modal input[type=button]:hover{

  background-color: rgba(70,70,70,1);
  transition:0.2s ease;
}

/* Modal Content */
.modal-content {
    top: 100px;
    border-radius: 10px;
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    /* border: 1px solid #888; */
    width: 50%;
    height: 50%;
    text-align: center;
}
.modal-content p{
  font-family: sans-serif;
  font-weight: bold;
  padding: 20px;
  color: grey;
}
/* The Close Button */
.close {
    color: #aaaaaa;
    font-size: 28px;
    font-weight: bold;

}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
.modal-title{
  width: 100%;
}
