.topnav {
  overflow: hidden;
  background-color: rgba(10,10,10,0.5);


  position: fixed;
  top: 0;
  width: 100%;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-family: sans-serif;
  font-weight: bold;

}

.topnav a:hover {
  background-color: rgba(100,100,100,0.5);
}
.spacing{
  height: 50px;
}
